    <!--FOOTER-->
    <footer id="contact">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Me contacter</h5>
                    <hr class="light">
                    <p>06 24 72 78 27</p>
                    <p>sebteill@gmail.com</p>
                    <p>85000 La Roche s/ Yon</p>
                    <p>FRANCE</p>
                </div>

                <div class="col-md-4">
                    <hr class="light">
                    <h5>Horaires</h5>
                    <hr class="light">
                    <p>Lundi au Vendredi : 9am - 5pm</p>
                    <p>Samedi : 10am - 4pm</p>
                    <p>Dimanche : fermé</p>
                </div>

                <div class="col-md-4">
                    <hr class="light">
                    <h5>Me suivre</h5>
                    <hr class="light">
                    <div class="social">
                        <a href="https://www.facebook.com/sb.teillet.7" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-facebook-messenger"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; Sébastien Teillet</h5>
                </div>
            </div>
        </div>
    </footer>