<!--NAVBAR-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <span class="navbar-text">
                <h5 class="bonjour">Bonjour {{ sess.name }} </h5>
            </span>

            <ul class="navbar-nav ml-auto">
                
                {{#if user}}

                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Portrait</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Road trip
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/mapAfs">Afrique du Sud</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/mapTzn">Tanzanie</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">À venir ...</a>
                    </div>

                    {{#unless admin}}

                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacter </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deleteAccount">Supprimer son compte <i
                            class="far fa-times-circle"></i></a>
                </li>

                {{/unless}}

                {{#if admin}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ajouter un contenu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/articlePhoto/add">Portfolio</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/infoPhoto/add2">Blog</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Tableau admin </a>
                </li>

                {{/if}}

                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Deconnexion <i class="far fa-sign-out-alt"></i></a>
                </li>

                {{else}}

                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Connexion <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/create">Inscription <i class="fas fa-check"></i></a>
                </li>

                {{/if}}

            </ul>
        </div>
    </div>
</nav>