<!--portrait-->

<div class="container-fluid padding">
    <div class="row padding-portrait">
        <div class="card-deck">

            <!--wildlife photography-->
            <div class="card">
                <img src="ressources/images/about/about.jpg" class="card-img-top" alt="about">
                <div class="card-body">
                    <h5 class="card-title">Photographe animalier amateur</h5>
                    <p class="card-text">Bonjour et bienvenue sur mon profil, je me nomme Sébastien Teillet et je suis un photographe amateur passionné par le monde animal et les paysages à perte de vue.</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        En lire plus ...
                    </button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Photographe animalier amateur</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    J'ai découvert la photographie il y a 5 ans via des captures de paysages. Mais c'est
                                    lors de mon voyage en Afrique du Sud que je me suis pris de passion pour la
                                    photographie animalière. Capturer des instants de la vie sauvage sont des moments
                                    exaltants, faire preuve de patience, trouver un angle original ainsi que la bonne
                                    lumière ... composer avec un animal est quelque chose de passionnant.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--landscapes-->
            <div class="card">
                <img src="ressources/images/about/profil.jpg" class="card-img-top" alt="profil">
                <div class="card-body">
                    <h5 class="card-title">Pays visités</h5>
                    <p class="card-text">Ce que j'apprécie pendant mes voyages est de découvrir des paysages différents et à perte de vue. Pour cela , l'Afrique est indéniablement un très bon endroit ou poser son regard ...
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                        En lire plus ...
                    </button>
                    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Pays visités</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Je me suis rendu en Tunisie, Espagne, Autriche ainsi qu'au Pérou et en Bolivie
                                    mais c'est en Afrique que j'ai réellement commencer à apprécier la photographie.
                                    Dernièrement, j'ai donc pu découvrir l'Afrique du Sud et la Tanzanie : deux pays
                                    différents mais deux gros coups de coeur !! La prochaine escapade sera également
                                    là bas ... au Kenya ou en Namibie pour continuer la découverte de ce superbe continent.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--equipment-->
            <div class="card">
                <img src="ressources/images/about/material.jpg" class="card-img-top" alt="material">
                <div class="card-body">
                    <h5 class="card-title">Matériel photo</h5>
                    <p class="card-text">Parce que la photographie animalière requiert un certain type de matériel , voici une rapide description de mon matériel embarqué lors de mes voyages.</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                        En lire plus ...
                    </button>
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Matériel photo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="modal-ul">
                                        <li>reflex Nikon D5300</li>
                                        <li>objectif Nikkor 18-55mm f/3.5-5.6g AF-S DX VR</li>
                                        <li>objectif Nikkor 50mm f/1.8 D-AF</li>
                                        <li>objectif Nikkor 70-300mm f/4.5-5.6g AF-S VR IF-ED</li>
                                        <li>objectif Tamron SP 150-600mm f/5-6.3g DI VC USD</li>
                                        <li>aluminum monopod Manfrotto 680B series</li>
                                        <li>aluminum tripod Manfrotto 290 series</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>












    </div>
</div>