<!--page error404-->

    <section id="contact">
        <div class="container-fluid padding">
            <div class="row text-center">
                
                <div class="col-md-12">
                    <hr class="light">
                    <h1>Page introuvable <i class="fas fa-map-signs"></i></h1>
                    <hr class="light">
                    <h3><i class="fas fa-chevron-right"></i> <a href="/">retourner sur la page d'accueil</a> <i class="fas fa-chevron-left"></i></h3>
                </div>
            </div>
        </div>
    </section>