<!--NAVBAR AFS-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Réserves naturelles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="" class="dropdown-item" data-toggle="modal"
                            data-target="#exampleModalCenter">kirstenbosch
                            garden</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter1">walker
                            bay</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter2">good
                            hope cape</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter3">table
                            mountain</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter4">lion's
                            head</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter5">west
                            coast</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Safaris / Animaux
                    </a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter6">boulders
                            beach</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter7">breede
                            river</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal"
                            data-target="#exampleModalCenter8">gansbaai</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter9">eagle
                            encounters</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Restaurants
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter10">harbour
                            house</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal"
                            data-target="#exampleModalCenter11">bientang's
                            cave</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter12">clos
                            malverne</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Divers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter13">castle
                            of good hope</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter14">khwa
                            ttu</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter15">hout
                            bay</a>
                    </div>
            </ul>
        </div>
    </div>
</nav>

<!--Modals-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/kirstenbosch-garden.jpg"
                alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">kirstenbosch Garden<br>
                    <small>
                        <p>National Botanical Garden</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Rhodes Dr, Newlands, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-hiking"></i><span><i
                            class="fas fa-feather"></i></span></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/walker-bay.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Walker Bay<br>
                    <small>
                        <p>Nature Reserve</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Hermanus</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-umbrella-beach"></i><i class="fas fa-hiking"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/good-hope-cape.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Good Hope Cape<br>
                    <small>
                        <p>Nature Reserve</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Cape Point Rd, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-hiking"></i><i class="fas fa-binoculars"></i><i
                        class="fas fa-feather"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/table-mountain.JPG" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Table Mountain<br>
                    <small>
                        <p>Trekking</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Signal Hill Rd, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-mountain"></i><i class="fas fa-hiking"></i><i class="fas fa-binoculars"></i><i
                        class="fas fa-tram"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/lion's-head.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Lion's Head<br>
                    <small>
                        <p>Trekking</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Signal Hill Rd, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-mountain"></i><i class="fas fa-hiking"></i><i
                        class="fas fa-binoculars"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/west-coast.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">West Coast<br>
                    <small>
                        <p>National Park</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Signal Hill Rd, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-hiking"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/boulders-beach.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Boulders Beach<br>
                    <small>
                        <p>Penguin Colony</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> 4, Boulders Place, Secluse Ave, Simon's
                            Town, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-feather"></i><i class="fas fa-umbrella-beach"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/inverdoorn.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Breede River<br>
                    <small>
                        <p>Inverdoorn Private Game Reserve</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> R356, Sutherland Road Breede River DC
                        </p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i
                        class="fas fa-swimming-pool"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/shark-diving.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Gansbaai<br>
                    <small>
                        <p>Shark Diving</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> 9, Kusfront, Van Dyks Bay</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i><i class="fas fa-water"></i><i class="fas fa-ship"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/eagle-encounters.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Eagle Encounters<br>
                    <small>
                        <p>Wildlife Sanctuary</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> hosted at Spier Wine Farm, R310 Baden
                            Powell Drive, Stellenbosch</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-feather"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/harbour-house.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Harbour House<br>
                    <small>
                        <p>Restaurant</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Main Rd, Kalk Bay, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/bientang's-cave.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bientang's Cave<br>
                    <small>
                        <p>Restaurant & Wine Bar</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> In a cave below Marine Drive, 100m from
                            Old Harbour, Hermanus</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-wine-glass-alt"></i><i
                        class="fas fa-whale"></i></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/clos-malverne.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Clos Malverne<br>
                    <small>
                        <p>Restaurant & Wine Bar</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Devon Valley Rd, Stellenbosch</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-wine-glass-alt"></i><i class="fas fa-bed"></i><i
                        class="fas fa-swimming-pool"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/castle.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Castle of Good Hope<br>
                    <small>
                        <p>Pentagonal Fortress</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Darling St & Buitenkant St, Cape Town
                        </p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-dungeon"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter14" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/khwattu.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Khwa Ttu<br>
                    <small>
                        <p>Adventure Camp</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Grootwater Farm R27 West Coast Road,
                            Yzerfontein</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i class="fas fa-hiking"></i><i
                        class="fas fa-bicycle"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter15" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapAFS/hout-bay.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Hout Bay<br>
                    <small>
                        <p>Beach</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Harbour Rd, Cape Town</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-umbrella-beach"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MAP-->
<div class="row">
    <div class="col-md-12">
        <!-- Map size -->
        <div id="mapid" style="width: auto; height: 500px;">
        </div>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        {{!-- <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                    crossorigin="">
                    </script> --}}
        <script>
            let map = L.map('mapid')
                .setView([-33.993472995119674, 18.47076416015625],
                    8); // Choose a locality -[lat, lng] zoom property-

            // Map property
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Create a marker with a popup message
            L.marker([-33.93453015829903, 18.389225006103516]).addTo(map).bindPopup(
                "<b>Lion's Head</b><br /><em>trekking</em>");

            L.marker([-33.963579559237495, 18.415145874023438]).addTo(map).bindPopup(
                "<b>Table Mountain</b><br /><em>trekking</em>");

            L.marker([-34.61540923294653, 19.34864044189453]).addTo(map).bindPopup(
                "<b>Gansbaai</b><br /><em>shark diving</em>");

            L.marker([-33.11483694263137, 19.800281524658203]).addTo(map).bindPopup(
                "<b>Breede River</b><br /><em>inverdoorn private game reserve</em>");

            L.marker([-33.91077775751776, 18.81507396697998]).addTo(map).bindPopup(
                "<b>Stellenbosche - Clos Malverne</b><br /><em>restaurant & wine tasting</em>");

            L.marker([-34.48109002095166, 19.36305999755859]).addTo(map).bindPopup(
                "<b>Walker Bay</b><br /><em>nature reserve</em>");

            L.marker([-34.197037241692605, 18.450701236724854]).addTo(map).bindPopup(
                "<b>Boulders Beach</b><br /><em>penguin colony</em>");

            L.marker([-34.35691760197429, 18.49689424037933]).addTo(map).bindPopup(
                "<b>Good Hope Cape</b><br /><em>nature reserve</em>");

            L.marker([-33.9258507946873, 18.427741527557373]).addTo(map).bindPopup(
                "<b>Castle of Good Hope</b><br /><em>pentagonal fortress</em>");

            L.marker([-33.98895406682826, 18.429222106933594]).addTo(map).bindPopup(
                "<b>Kirstenbosche Garden</b><br /><em>national botanical garden</em>");

            L.marker([-34.045370053873896, 18.352274894714355]).addTo(map).bindPopup(
                "<b>Hout Bay</b><br /><em>beach</em>");

            L.marker([-34.129772721196595, 18.44908118247986]).addTo(map).bindPopup(
                "<b>Harbour House Kalk Bay</b><br /><em>restaurant</em>");

            L.marker([-34.41977914929845, 19.244163036346436]).addTo(map).bindPopup(
                "<b> Hermanus - Bientang's Cave</b><br /><em>restaurant & wine bar</em>");

            L.marker([-33.3615026710643, 18.27249526977539]).addTo(map).bindPopup(
                "<b>Khwa ttu</b><br /><em>adventure camp</em>");

            L.marker([-33.16543280230457, 18.108901977539062]).addTo(map).bindPopup(
                "<b>West Coast</b><br /><em>national park</em>");

            L.marker([-33.97091154130015, 18.78666400909424]).addTo(map).bindPopup(
                "<b>Eagle Encounters</b><br /><em>wildlife sanctuary</em>");
        </script>
    </div>
</div>
</div>