<!--NAVBAR TZN-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Safaris
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="" class="dropdown-item" data-toggle="modal"
                            data-target="#exampleModalCenter2">tarangire</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter4">lake
                            manyara</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter6">eternal
                            plains</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal"
                            data-target="#exampleModalCenter7">serengeti</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal"
                            data-target="#exampleModalCenter9">ngorongoro crater</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal"
                            data-target="#exampleModalCenter12">arusha</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lodges
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter">ilboru
                            safari lodge</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter3">river
                            safari lodge</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter5">burunge
                            tented camp</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter8">kati
                            kati tented camp</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter10">tloma
                            mountain lodge</a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter11">airport
                            planet lodge</a>
                    </div>
            </ul>
        </div>
    </div>
</nav>

<!--Modals-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/ilboru-lodge.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Arusha<br>
                    <small>
                        <p>Ilboru Safari Lodge</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Nairobi Rd, Arusha Park</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i
                        class="fas fa-swimming-pool"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/tarangire.jpeg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Tarangire<br>
                    <small>
                        <p>National Park</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Tarangire National Park</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/tarangire-lodge.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Tarangire<br>
                    <small>
                        <p>River Safari Lodge</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Tarangire Rd</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i class="fas fa-binoculars"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/lake-manyara.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Lake Manyara<br>
                    <small>
                        <p>National Park</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Lake Manyara National Park</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/tarangire-burunge.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Tarangire National Park<br>
                    <small>
                        <p>Burunge Tented Camp</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Sangaiwe Tarangire, Minjingu</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i class="fas fa-swimming-pool"></i><i
                        class="fas fa-binoculars"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/migration.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Eternal Plains<br>
                    <small>
                        <p>Great Migration</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Serengeti National Park</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/serengeti.jpg" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Serengeti National Park<br>
                    <small>
                        <p>Safari</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Serengeti National Park</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/kati-kati.jpg" alt="image"
                alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Serengeti National Park<br>
                    <small>
                        <p>Kati Kati Tented Camp</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Serengeti National Park</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i class="fas fa-paw"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/ngorongoro.jpg" alt="image"
                alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Ngorongoro Crater<br>
                    <small>
                        <p>Safari</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Ngorongoro Conservation Area</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/tloma-lodge.jpg" alt="image"
                alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Ngorongoro<br>
                    <small>
                        <p>Tloma Mountain Lodge</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Gibbs Farm Road, Karatu</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i class="fas fa-swimming-pool"></i><i
                        class="fas fa-hiking"></i><i class="fas fa-tree-palm"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/planet-airport.jpg" alt="image"
                alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Arusha<br>
                    <small>
                        <p>Airport Planet Lodge</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Arusha-Himo Rd, Located 5miles from JRO
                            airport</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-utensils"></i><i class="fas fa-bed"></i><i
                        class="fas fa-swimming-pool"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img class="d-flex align-self-start" src="ressources/images/maps/mapTZN/arusha.jpg" alt="image" alt="image">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Arusha National Park<br>
                    <small>
                        <p>Walking Safari</p>
                    </small>
                    <small>
                        <p><i class="fas fa-map-marker-alt"></i> Arusha National Park</p>
                    </small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><i class="fas fa-paw"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<!--MAP-->
<div class="row">
    <div class="col-md-12">
        <!-- Map size -->
        <div id="mapid" style="width: auto; height: 500px;">
        </div>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script>
            let map = L.map('mapid')
                .setView([-3.173425069507931, 35.6011962890625], 8); // Choose a locality [lat, lng] zoom property-

            // Map property
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Create a marker with a popup message
            L.marker([-3.3493285890343856, 36.686997413635254]).addTo(map).bindPopup(
                "<b>Arusha</b><br /><em>ilboru safari lodge</em>");

            L.marker([-4.053316502797743, 36.09214782714844]).addTo(map).bindPopup(
                "<b>Tarangire National Park</b><br /><em>safari</em>");

            L.marker([-3.7775870409525494, 36.02142333984375]).addTo(map).bindPopup(
                "<b>Tarangire River</b><br /><em>safari lodge</em>");

            L.marker([-3.6186170397817095, 35.71723937988281]).addTo(map).bindPopup(
                "<b>tarangire National Park</b><br /><em>burunge tented camp</em>");

            L.marker([-2.397066538982145, 34.85549926757812]).addTo(map).bindPopup(
                "<b>Serengeti National Park</b><br /><em>safari</em>");

            L.marker([-2.5486738379360627, 34.721946716308594]).addTo(map).bindPopup(
                "<b>Serengeti National Park</b><br /><em>kati kati tented camp</em>");

            L.marker([-2.7235830833483856, 34.947509765625]).addTo(map).bindPopup(
                "<b>Eternal Plains</b><br /><em>great migrations</em>");

            L.marker([-3.098349977699554, 35.435028076171875]).addTo(map).bindPopup(
                "<b>Ngorongoro</b><br /><em>tloma mountain lodge</em>");

            L.marker([-3.1682831124487, 35.57750701904297]).addTo(map).bindPopup(
                "<b>Ngorongoro Crater</b><br /><em>safari</em>");

            L.marker([-3.5771568650530456, 35.826416015625]).addTo(map).bindPopup(
                "<b>Lake Manyara</b><br /><em>national park</em>");

            L.marker([-3.3727414832751497, 37.0484733581543]).addTo(map).bindPopup(
                "<b>Arusha</b><br /><em>airport planet lodge</em>");

            L.marker([-3.235812097803043, 36.76780700683594]).addTo(map).bindPopup(
                "<b>Arusha National Park</b><br /><em>walking safari</em>");
        </script>
    </div>
</div>
</div>